.button {
  position: relative;
  left: 80px;
  font: inherit;
  border: 1px solid #e77c1e;
  border-radius: 20px;
  background: #d6a834;
  color: white;
  padding: 0.5rem 3rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #a37207;
  border-color: #f3deb2;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
